<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

</head>

<body>
<header class="navbar navbar-expand-lg navbar-dark modern-header">
    <div class="container-fluid px-4">
        <a class="navbar-brand d-flex align-items-center" th:href="@{/dashboard/}">
            <span class="brand-text">JobPortal</span>
            <span class="brand-badge">.com</span>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarToggler"
                aria-controls="navbarToggler"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item" sec:authorize="hasAuthority('Job Seeker')">
                    <a class="nav-link active" th:href="@{/dashboard/}">
                        <i class="fas fa-search me-2"></i>Search Jobs
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('Job Seeker')">
                    <a class="nav-link" th:href="@{/saved-jobs/}">
                        <i class="fa-solid fa-bookmark me-2"></i>Saved Jobs
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('Job Seeker')">
                    <a class="nav-link" th:href="@{/job-seeker-profile/}">
                        <i class="fa-solid fa-user me-2"></i>My Profile
                    </a>
                </li>

                <li class="nav-item" sec:authorize="hasAuthority('Recruiter')">
                    <a class="nav-link" th:href="@{/dashboard/add}">
                        <i class="fa-solid fa-plus-circle me-2"></i>Post Job
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('Recruiter')">
                    <a class="nav-link active" th:href="@{/dashboard/}">
                        <i class="fa-solid fa-briefcase me-2"></i>My Jobs
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('Recruiter')">
                    <a class="nav-link" th:href="@{/recruiter-profile/}">
                        <i class="fa-solid fa-user me-2"></i>My Profile
                    </a>
                </li>
            </ul>
            
            <div class="d-flex align-items-center gap-3">
                <img
                        class="rounded-circle profile-img"
                        th:if="${user.photosImagePath!=null}"
                        th:src="@{${user?.photosImagePath}}"
                        alt="Profile"
                />
                <span class="text-white fw-bold" 
                      th:text="${user.firstName != null && user.lastName != null ? user.firstName + ' ' + user.lastName : username}">
                </span>
                <button class="btn btn-logout" onclick="window.location.href='/logout'">
                    <i class="fa-solid fa-sign-out-alt me-2"></i>Logout
                </button>
            </div>
        </div>
    </div>
</header>

<section class="section">
    <div class="sidenav px-5">
        <div sec:authorize="hasAuthority('Job Seeker')">

            <label class="text-uppercase color-dull font-weight-bold">Filter Results</label>
            <hr/>
            <form id="myForm" th:action="@{/dashboard/}">

                <div class="row">
                    <div class="col-lg-12">
                        <label>Employment Type</label>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    th:checked="${partTime}"
                                    id="Part-time"
                                    name="partTime"
                                    th:value="Part-Time"
                            />
                            <label class="form-check-label" for="Part-time">
                                Part-Time
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="full-time"
                                    th:checked="${fullTime}"
                                    name="fullTime"
                                    th:value="Full-Time"
                            />
                            <label class="form-check-label" for="full-time">
                                Full-Time
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="freelance"
                                    th:value="Freelance"
                                    name="freelance"
                                    th:checked="${freelance}"
                            />
                            <label class="form-check-label" for="freelance">
                                Freelance
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12">

                        <label>Remote</label>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="remote-only"
                                    th:value="Remote-Only"
                                    name="remoteOnly"
                                    th:checked="${remoteOnly}"
                            />
                            <label class="form-check-label" for="remote-only">
                                Remote-Only
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="Office-Only"
                                    th:value="Office-Only"
                                    name="officeOnly"
                                    th:checked="${officeOnly}"
                            />
                            <label class="form-check-label" for="Office-Only">
                                Office-Only
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="partial-remote"
                                    th:value="Partial-Remote"
                                    name="partialRemote"
                                    th:checked="${partialRemote}"
                            />
                            <label class="form-check-label" for="partial-remote">
                                Partial-Remote
                            </label>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <label>Date Posted</label>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="today"
                                    name="today"
                                    th:checked="${today}"
                            />
                            <label class="form-check-label" for="today"> Today </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="7days"
                                    name="days7"
                                    th:checked="${days7}"
                            />
                            <label class="form-check-label" for="7days">
                                Last 7 Days
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="30days"
                                    name="days30"
                                    th:checked="${days30}"
                            />
                            <label class="form-check-label" for="30days">
                                Last 30 Days
                            </label>
                        </div>
                    </div>
                </div>
                <input id="hidJob" name="job" th:value="${job}" hidden>
                <input id="hidLoc" name="location" th:value="${location}" hidden>
            </form>
        </div>
    </div>
    <article>
        <div class="dashboard-header" sec:authorize="hasAuthority('Job Seeker')">
            <h1 class="dashboard-title">Find Your Next Opportunity</h1>
            <div class="search-bar-dashboard">
                <div class="search-input-wrapper">
                    <i class="fa fa-search search-icon-dash"></i>
                    <input id="job" type="text" placeholder="Job title, keywords, or company" name="job"
                           th:value="${job}"/>
                </div>
                <div class="search-input-wrapper">
                    <i class="fa fa-map-marker-alt search-icon-dash"></i>
                    <input id="loc" type="text" placeholder="City, state, or zip code" name="location" 
                           th:value="${location}"/>
                </div>
                <button class="btn-search-dash" type="submit" form="myForm">
                    <i class="fa fa-search me-2"></i>Search
                </button>
            </div>
        </div>
        
        <div class="dashboard-header" sec:authorize="hasAuthority('Recruiter')">
            <h1 class="dashboard-title">Manage Your Job Postings</h1>
            <p class="dashboard-subtitle">View applications and manage your active job listings</p>
        </div>
        
        <div class="jobs-container">
            <div class="jobs-header">
                <h2 class="jobs-title" sec:authorize="hasAuthority('Job Seeker')">Available Positions</h2>
                <h2 class="jobs-title" sec:authorize="hasAuthority('Recruiter')">Your Job Postings</h2>
            </div>
            
            <th:block th:each="jobPost:${jobPost}">
                <a th:href="@{/job-details-apply/{id}(id=${jobPost.jobPostId})}" class="job-card-link">
                    <div class="job-card-modern">
                        <div class="job-card-header">
                            <div>
                                <h3 class="job-card-title">[[${jobPost.jobTitle}]]</h3>
                                <p class="job-card-company" th:text="${jobPost.jobCompanyId.name}">Company Name</p>
                            </div>
                            <div class="job-card-badges">
                                <span class="badge badge-applied" 
                                      sec:authorize="hasAuthority('Job Seeker')"
                                      th:if="${jobPost.isActive == true}">
                                    <i class="fa fa-check-circle me-1"></i>Applied
                                </span>
                                <span class="badge badge-saved" 
                                      sec:authorize="hasAuthority('Job Seeker')"
                                      th:if="${jobPost.isSaved == true}">
                                    <i class="fa fa-bookmark me-1"></i>Saved
                                </span>
                                <span class="badge badge-candidates" 
                                      sec:authorize="hasAuthority('Recruiter')"
                                      th:text="${jobPost.totalCandidates} + ' Applicants'">
                                    0 Applicants
                                </span>
                            </div>
                        </div>
                        <div class="job-card-footer">
                            <div class="job-card-info">
                                <i class="fa fa-map-marker-alt me-2"></i>
                                <span th:text="${jobPost.jobLocationId.city + ', ' + jobPost.jobLocationId.state}">
                                    Location
                                </span>
                            </div>
                            <div class="job-card-arrow">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </th:block>
        </div>
    </article>
</section>

<script
        type="text/javascript"
        th:src="@{/webjars/jquery/jquery.min.js}"
></script>
<script
        type="text/javascript"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script>
    $('#job').change(function() {
      $('#hidJob').val($(this).val());
    });
    $('#loc').change(function() {
      $('#hidLoc').val($(this).val());
    });
</script>
</body>
</html>