<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      th:href="@{/css/style.css}"
    />
    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      th:href="@{/css/font-awesome.min.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      th:href="@{/css/styles.css}"
    />
    <meta charset="ISO-8859-1" />
    <title>Login</title>
  </head>

  <body class="auth-body">
    <div class="auth-container">
      <div class="auth-left">
        <div class="auth-overlay">
          <div class="auth-brand">
            <h1>JobPortal<span class="brand-dot">.com</span></h1>
            <p class="auth-tagline">Connect with opportunities that matter</p>
          </div>
        </div>
      </div>
      
      <div class="auth-right">
        <div class="auth-form-container">
          <div class="auth-form-header">
            <h2 class="auth-title">Welcome Back</h2>
            <p class="auth-subtitle">Sign in to continue your job search</p>
          </div>
          
          <form th:action="@{/login}" th:object="${user}" method="post" class="auth-form">
            <div class="form-group-modern">
              <label class="form-label-modern">Email Address</label>
              <div class="input-with-icon">
                <i class="fa fa-envelope input-icon-auth"></i>
                <input
                  placeholder="Enter your email"
                  name="username"
                  field="{email}"
                  type="email"
                  class="form-control-modern"
                  required
                />
              </div>
            </div>
            
            <div class="form-group-modern">
              <label class="form-label-modern">Password</label>
              <div class="input-with-icon">
                <i class="fa fa-lock input-icon-auth"></i>
                <input
                  placeholder="Enter your password"
                  name="password"
                  field="{password}"
                  type="password"
                  class="form-control-modern"
                  required
                />
              </div>
            </div>
            
            <div class="form-options">
              <label class="checkbox-modern">
                <input type="checkbox" />
                <span>Remember me</span>
              </label>
              <a href="#" class="link-modern">Forgot Password?</a>
            </div>
            
            <button type="submit" class="btn-auth-primary">
              <span>Sign In</span>
              <i class="fa fa-arrow-right ms-2"></i>
            </button>
            
            <div class="auth-footer">
              <p>Don't have an account? 
                <a class="link-modern" th:href="@{/register}">Create one now</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script
    type="text/javascript"
    th:src="@{/webjars/jquery/jquery.min.js}"
  ></script>
  <script
    type="text/javascript"
    th:src="@{/webjars/popper.js/umd/popper.min.js}"
  ></script>
  <script
    type="text/javascript"
    th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
  ></script>
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
</html>
