<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link
            th:rel="stylesheet"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "
    />
    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            th:href="@{/css/font-awesome.min.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            th:href="@{/css/styles.css}"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat"
            rel="stylesheet"
    />
    <meta charset="ISO-8859-1"/>
    <title>Sign Up</title>
</head>

<body class="auth-body">
<div class="auth-container">
    <div class="auth-left">
        <div class="auth-overlay">
            <div class="auth-brand">
                <h1>JobPortal<span class="brand-dot">.com</span></h1>
                <p class="auth-tagline">Start your career journey today</p>
            </div>
        </div>
    </div>
    
    <div class="auth-right">
        <div class="auth-form-container">
            <div class="auth-form-header">
                <h2 class="auth-title">Create Account</h2>
                <p class="auth-subtitle">Join thousands of job seekers and recruiters</p>
            </div>
            
            <form th:action="@{/register/new}" th:object="${user}" method="post" class="auth-form">
                <div th:if="${error}" class="alert alert-danger-modern" role="alert">
                    <i class="fa fa-exclamation-circle me-2"></i>
                    <span th:text="${error}"></span>
                </div>
                
                <div class="form-group-modern">
                    <label class="form-label-modern">Email Address</label>
                    <div class="input-with-icon">
                        <i class="fa fa-envelope input-icon-auth"></i>
                        <input
                            placeholder="Enter your email"
                            name="email"
                            th:field="*{email}"
                            type="email"
                            class="form-control-modern"
                            required
                        />
                    </div>
                </div>
                
                <div class="form-group-modern">
                    <label class="form-label-modern">Password</label>
                    <div class="input-with-icon">
                        <i class="fa fa-lock input-icon-auth"></i>
                        <input
                            min="8"
                            placeholder="Create a strong password"
                            name="password"
                            th:field="*{password}"
                            type="password"
                            class="form-control-modern"
                            required
                        />
                    </div>
                    <small class="form-hint">Minimum 8 characters</small>
                </div>
                
                <div class="form-group-modern">
                    <label class="form-label-modern">Account Type</label>
                    <div class="input-with-icon">
                        <i class="fa fa-user-tag input-icon-auth"></i>
                        <select required class="form-control-modern" th:field="*{userTypeId}">
                            <option value="" disabled selected>Select your role</option>
                            <th:block th:each="userType :${getAllTypes}">
                                <option
                                    th:text="${userType.userTypeName}"
                                    th:value="${userType.userTypeId}"
                                ></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                
                <button type="submit" class="btn-auth-primary">
                    <span>Create Account</span>
                    <i class="fa fa-arrow-right ms-2"></i>
                </button>
                
                <div class="auth-footer">
                    <p>Already have an account? 
                        <a class="link-modern" th:href="@{/login}">Sign in</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</html>
